:root {
  --navbg: #283747; 
  --white: #ffffff;
  --bg: #266150;
}

* {
	color: white !important;
}

body {
	background-color: var(--bg);
}

nav, .nav-item { 
	background-color: var(--navbg);
	color: white !important;
}

.search{
	color: black !important;
}

.matchbar {
	background-color: var(--navbg);
}

.game {
  width: 100px;
  border: 5px outset var(--bg);
  background-color: var(--bg);  
  text-align: center;
  margin-left: 20%;
  float: left;
}

.date {
  	margin: auto;
  	text-align: center;
  	padding-top: 5px;
}